<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string></string>
	<key>description</key>
	<string>n$nome/sexoTime Link kleio-clio notation support.</string>
	<key>name</key>
	<string>Time Link</string>
	<key>uuid</key>
	<string>2936BEB0-A2E9-4D67-A791-29FAEE48E19B</string>
</dict>
</plist>
